@font-face {
    font-family: 'PoppinsReg';
    src: url('../FONTS/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Aileron';
    src: url('../FONTS/Aileron-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../IMAGES/FORGOTPASSWORD_PAGE.png'); 
    background-size: cover;
    background-position: center;
    font-family: PoppinsReg, sans-serif;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    top: -50px;

}

.content {
    padding: 20px;
}

.logo {
    margin-top: -150px;
}

.logo img {
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    color: black;
    text-align: left;
    font-size: 16px;
}

.input-group input::placeholder {
    color: #888888;
    opacity: 1;
}

.submit-btn {
    width: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #F2B705;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #e5a703;
}

.login-link {
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    font-family: Aileron;
}