@font-face {
  font-family: 'PoppinsBold';
  src: url('../FONTS/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'PoppinsReg';
  src: url('../FONTS/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Aileron';
  src: url('../FONTS/Aileron-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PoppingsReg, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../IMAGES/FORGOTPASSWORDVERIFICATION_PAGE.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.container {
  color: #fff;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  font-family: Aileron, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 80px;
}

.content p {
  font-family: PoppingsReg, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  margin-top: 5px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.login-button {
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
